In [3]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd

In [4]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### x 범주형, y 연속형 : 범주형 따른 상관관계 확인

#### 선정 변수 : channel(항목 2)\[:200] Mileage(정규분포)
- 분석 내용 : channel 중 서비스 방문과 홈쇼핑에 따른 마일리지 평균이 차이가 있는가?
    - 귀무가설 : 마일리지 평균의 차이가 없다
    - 대립가설 : 평균 차이가 있다.
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론 : 
    - 사실 결론 :

In [14]:
## 검증 대상 항목만 필터링 and  200개만 추출(정규분포 자료 획득)
condition = (df_TOCC['channel'] == '서비스 방문') | (df_TOCC['channel'] == '홈쇼핑/방송')
df_channel_Mileage = df_TOCC[['channel', 'Mileage']][:200]
df_channel_Mileage

    channel  Mileage
0    서비스 방문   1862.0
1    서비스 방문   2532.0
2    홈쇼핑/방송   2363.0
3     렌탈재계약   2449.0
4     렌탈재계약   1942.0
..      ...      ...
195  서비스 방문   2770.0
196  서비스 방문      NaN
197  서비스 방문   2268.0
198  서비스 방문   1356.0
199  서비스 방문   1829.0

[200 rows x 2 columns]

In [15]:
df_service = df_channel_Mileage[df_channel_Mileage['channel'] == '서비스 방문']
df_service[:2]

  channel  Mileage
0  서비스 방문   1862.0
1  서비스 방문   2532.0

In [16]:
df_homeshopping = df_channel_Mileage[df_channel_Mileage['channel'] == '홈쇼핑/방송']
df_homeshopping[:2]

  channel  Mileage
2  홈쇼핑/방송   2363.0
6  홈쇼핑/방송   2348.0

##### 등분산 검증