In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

### DataFrame 구조
- index(row) - column(column) - data

In [3]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [4]:
double_list = [[1000, '과자','2019-12-31','반품'],
 [2000, '음료', '2020-03-02', '정상'],
 [3000, '아이스크림', '2020-02-03','정상'],
 [1000,'과자','2019-12-31','반품']]
pd.DataFrame(data = double_list)

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [5]:
pd.DataFrame(data=double_list, columns=['가격','종류','판매일자','반품여부'])

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [39]:
double_columns = ['가격','종류','판매일자','반품여부']
df_saledays = pd.DataFrame(data=double_list, columns=double_columns)
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [40]:
type(df_saledays)

pandas.core.frame.DataFrame

In [42]:
df_saledays_dropcol = df_saledays.drop(columns=['가격', '판매일자',])

In [43]:
df_saledays_dropcol

      종류 반품여부
0     과자   반품
1     음료   정상
2  아이스크림   정상
3     과자   반품

In [29]:
len(df_saledays.index)

4

In [19]:
df_saledays.values

array([[1000, '과자', '2019-12-31', '반품'],
       [2000, '음료', '2020-03-02', '정상'],
       [3000, '아이스크림', '2020-02-03', '정상'],
       [1000, '과자', '2019-12-31', '반품']], dtype=object)

In [8]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
pd.Series(data=single_data)

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [9]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
series_floats = pd.Series(data=single_data)
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [10]:
type(series_floats)

pandas.core.series.Series