In [126]:
import pandas as pd
import numpy as np

In [102]:
pd.__version__

'1.5.3'

### DataFrame 구조
- index(row) - column(column) - data

In [103]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [104]:
double_list = [[1000, '과자','2019-12-31','반품'],
 [2000, '음료', '2020-03-02', '정상'],
 [3000, '아이스크림', '2020-02-03','정상'],
 [1000,'과자','2019-12-31','반품']]
pd.DataFrame(data = double_list)

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [105]:
pd.DataFrame(data=double_list, columns=['가격','종류','판매일자','반품여부'])

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [106]:
double_columns = ['가격','종류','판매일자','반품여부']
df_saledays = pd.DataFrame(data=double_list, columns=double_columns)
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [107]:
type(df_saledays)

pandas.core.frame.DataFrame

In [108]:
df_saledays_dropcol = df_saledays.drop(columns=['종류', '판매일자',])

In [109]:
df_saledays_dropcol

     가격 반품여부
0  1000   반품
1  2000   정상
2  3000   정상
3  1000   반품

In [110]:
len(df_saledays.index)

4

In [111]:
df_saledays.values

array([[1000, '과자', '2019-12-31', '반품'],
       [2000, '음료', '2020-03-02', '정상'],
       [3000, '아이스크림', '2020-02-03', '정상'],
       [1000, '과자', '2019-12-31', '반품']], dtype=object)

In [112]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
pd.Series(data=single_data)

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [113]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
series_floats = pd.Series(data=single_data)
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [114]:
type(series_floats)

pandas.core.series.Series

In [115]:
df_saledays_dropcol

     가격 반품여부
0  1000   반품
1  2000   정상
2  3000   정상
3  1000   반품

In [116]:
## 필터
# condition = df_saledays_dropcol["반품여부"] == '정상'
condition = (df_saledays["가격"] >= 2500)
df_saledays.loc[condition]

     가격     종류        판매일자 반품여부
2  3000  아이스크림  2020-02-03   정상

In [117]:
(df_saledays["가격"] >= 2500) | (df_saledays["가격"] <= 1000) # 특정 범위 선택할 때 사용

0     True
1    False
2     True
3     True
Name: 가격, dtype: bool

In [118]:
(df_saledays["반품여부"] == '정상') & (df_saledays["가격"] >= 2500)

0    False
1    False
2     True
3    False
dtype: bool

## 요약

In [124]:
df_saledays_dropcol.pivot_table(index='반품여부', values='가격')

        가격
반품여부
반품    1000
정상    2500

In [127]:
pd.pivot_table(df_saledays_dropcol, index='반품여부', values='가격')

        가격
반품여부
반품    1000
정상    2500

In [159]:
pd.pivot_table(df_saledays_dropcol, index='반품여부', values='가격', aggfunc=np.sum)

        가격
반품여부
반품    2000
정상    5000

### 통계 수치 표현

In [129]:
import numpy as np

In [130]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
single_floats = pd.Series(single_data)
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [149]:
arr = np.array([6, 4, 1, 3, 5, 3, 10, 7, 9])
arr

array([ 6,  4,  1,  3,  5,  3, 10,  7,  9])

In [150]:
np.mean(arr)

5.333333333333333

In [151]:
np.std(arr)

2.788866755113585

In [152]:
np.median(arr)

5.0

In [153]:
## 최소값, 최대값
np.min(arr), np.max(arr)

(1, 10)

In [154]:
np.var(arr)

7.777777777777778

In [156]:
np.sum(arr)

48

In [160]:
df_saledays.pivot_table(index=['반품여부', '종류'], values='가격', aggfunc=[np.sum, np.min, np.size])

             sum  amin size
              가격    가격   가격
반품여부 종류
반품   과자     2000  1000    2
정상   아이스크림  3000  3000    1
     음료     2000  2000    1