In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [3]:
df_DL = pd.read_csv('../../datasets/DeliveryList.csv')
df_DL[:2]

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5

In [4]:
df_DL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      15000 non-null  object
 1   상품명     15000 non-null  object
 2   바코드     14992 non-null  float64
 3   발주가능상태  15000 non-null  object
 4   입고수량    15000 non-null  int64
 5   카테고리    15000 non-null  object
 6   출고수량    15000 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 820.4+ KB

In [5]:
df_DL.describe()

                바코드          입고수량          출고수량
count  1.499200e+04  15000.000000  15000.000000
mean   1.294839e+13     58.144533      7.205200
std    5.243929e+12    348.398250     19.819656
min    6.414100e+12      0.000000      0.000000
25%    8.801046e+12      0.000000      0.000000
50%    8.801047e+12      0.000000      1.000000
75%    1.880105e+13      0.000000      4.000000
max    2.880105e+13   9777.000000    308.000000

In [11]:
df_DL['날짜_datetime']=pd.to_datetime(df_DL['날짜'])

In [12]:
df_DL.describe(include=datatime)

NameError: name 'datatime' is not defined

In [13]:
df_DL[:2]

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량 날짜_datetime
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72  2019-05-16
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5  2019-05-16

In [14]:
df_DL['날짜_datetime_month'] = df_DL['날짜_datetime'].df.month

AttributeError: 'Series' object has no attribute 'df'