In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

### DataFrame 구조
- index(row) - column(column) - data

In [4]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [ ]:
double_list = (data = [[1000, '과자','2019-12-31','반품'],
 [2000, '음료', '2020-03-02', '정상'],
 [3000, '아이스크림', '2020-02-03','정상'],
 [1000,'과자','2019-12-31','반품']]