In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [7]:
df_RC = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_RC[:2]

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.5,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.1,4,Up,0

In [8]:
df_RC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1894 non-null   int64
 1   환자ID                    1894 non-null   object
 2   Large Lymphocyte        1894 non-null   float64
 3   Location of herniation  1894 non-null   int64
 4   ODI                     462 non-null    float64
 5   가족력                     1843 non-null   float64
 6   간질성폐질환                  1894 non-null   int64
 7   고혈압여부                   1894 non-null   int64
 8   과거수술횟수                  1894 non-null   int64
 9   당뇨여부                    1894 non-null   int64
 10  말초동맥질환여부                1894 non-null   int64
 11  빈혈여부                    1894 non-null   int64
 12  성별                      1894 non-null   int64
 13  스테로이드치료                 1894 non-null   int64
 14  신부전여부                   1894 non-null   int64
 15  신장                      1894 non-null   int64
 16  심혈관질환                   1894 non-null   int64
 17  암발병여부                   1894 non-null   int64
 18  연령                      1894 non-null   int64
 19  우울증여부                   1894 non-null   int64
 20  입원기간                    1894 non-null   int64
 21  입원일자                    1894 non-null   int64
 22  종양진행여부                  1894 non-null   int64
 23  직업                      1479 non-null   object
 24  체중                      1894 non-null   float64
 25  퇴원일자                    1894 non-null   int64
 26  헤모글로빈수치                 1893 non-null   float64
 27  혈전합병증여부                 1894 non-null   int64
 28  환자통증정도                  1894 non-null   int64
 29  흡연여부                    1894 non-null   int64
 30  통증기간(월)                 1890 non-null   float64
 31  수술기법                    1813 non-null   object
 32  수술시간                    1840 non-null   float64
 33  수술실패여부                  1894 non-null   int64
 34  수술일자                    1894 non-null   int64
 35  재발여부                    1894 non-null   int64
 36  혈액형                     1894 non-null   object
 37  전방디스크높이(mm)             1894 non-null   float64
 38  후방디스크높이(mm)             1894 non-null   float64
 39  지방축적도                   1891 non-null   float64
 40  Instability             1894 non-null   int64
 41  MF + ES                 1894 non-null   float64
 42  Modic change            1894 non-null   int64
 43  PI                      1890 non-null   float64
 44  PT                      1890 non-null   float64
 45  Seg Angle(raw)          1893 non-null   float64
 46  Vaccum disc             1894 non-null   int64
 47  골밀도                     998 non-null    float64
 48  디스크단면적                  1893 non-null   float64
 49  디스크위치                   1894 non-null   int64
 50  척추이동척도                  1894 non-null   object
 51  척추전방위증                  1894 non-null   int64
dtypes: float64(16), int64(31), object(5)
memory usage: 769.6+ KB

In [9]:
df_RC.describe()

,Unnamed: 0,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,MF + ES,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추전방위증
count,1894.000000,1894.000000,1894.000000,462.000000,1843.000000,1894.000000,1894.000000,1894.000000,1894.000000,1894.000000,...,1894.000000,1894.000000,1890.000000,1890.000000,1893.000000,1894.000000,998.000000,1893.000000,1894.000000,1894.000000
mean,946.500000,39.270750,2.295671,31.142857,0.049919,0.020063,0.130940,0.302534,0.062830,0.004224,...,2096.421600,0.247096,46.593651,16.329841,15.287934,0.056494,-1.507325,1989.788774,4.430834,0.032207
std,546.895023,13.675874,0.996143,10.131304,0.217836,0.140254,0.337424,0.638461,0.242721,0.064871,...,472.834488,0.661506,22.736211,8.421322,10.426397,0.230935,0.495867,314.478436,3.595680,0.176596
min,0.000000,0.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1016.800000,0.000000,11.900000,-10.600000,-27.400000,0.000000,-2.840000,1145.800000,1.000000,0.000000
25%,473.250000,30.700000,1.000000,24.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1765.285000,0.000000,38.700000,10.500000,8.800000,0.000000,-1.820000,1777.000000,4.000000,0.000000
50%,946.500000,40.200000,2.000000,31.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2056.500000,0.000000,45.100000,15.700000,14.500000,0.000000,-1.520000,1985.500000,4.000000,0.000000
75%,1419.750000,48.600000,3.000000,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2374.350000,0.000000,52.000000,21.400000,21.100000,0.000000,-1.202500,2178.500000,4.000000,0.000000
max,1893.000000,89.000000,5.000000,68.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,...,5569.000000,3.000000,559.000000,48.700000,165.000000,1.000000,1.700000,3214.200000,45.000000,1.000000

In [26]:
df_RC['날짜_datetime'] = pd.to_datetime(df_RC['입원일자'] - df_RC['퇴원일자'])

In [27]:
df_RC.describe(include=datatime)

NameError: name 'datatime' is not defined

In [28]:
df_RC[:2]

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증,날짜_datetime,날짜_datetime_month,날짜_datetime_day
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,14.4,0,-1.01,2048.5,4,Down,0,1969-12-31 23:59:59.999999997,1,1
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,17.8,0,-1.14,1753.1,4,Up,0,1969-12-31 23:59:59.999999999,1,1

In [29]:
df_RC['날짜_datetime_month'] = df_RC['날짜_datetime'].dt.month

In [30]:
df_RC

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증,날짜_datetime,날짜_datetime_month,날짜_datetime_day
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,14.4,0,-1.01,2048.50,4,Down,0,1969-12-31 23:59:59.999999997,12,1
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,17.8,0,-1.14,1753.10,4,Up,0,1969-12-31 23:59:59.999999999,12,1
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,10.2,0,-1.77,1749.00,4,Down,0,1969-12-31 23:59:59.999999928,12,1
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,19.9,0,-1.58,1796.20,4,Down,0,1969-12-31 23:59:59.999999928,12,1
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,5.2,0,-0.79,2021.48,4,Up,0,1969-12-31 23:59:59.999999996,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,21.8,0,NaN,2652.20,5,Middle,0,1969-12-31 23:59:59.999999999,12,1
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,5.0,0,NaN,1795.80,4,Down,0,1969-12-31 23:59:59.999999997,12,1
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,17.4,1,NaN,2624.40,4,Down,0,1969-12-31 23:59:59.999999998,12,1
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,17.7,0,NaN,1972.50,5,Down,0,1969-12-31 23:59:59.999999997,12,1
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,27.8,0,NaN,1574.40,5,Middle,0,1969-12-31 23:59:59.999999999,12,1

In [31]:
df_RC['날짜_datetime_day'] = df_RC['날짜_datetime'].dt.day

In [32]:
df_RC

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증,날짜_datetime,날짜_datetime_month,날짜_datetime_day
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,14.4,0,-1.01,2048.50,4,Down,0,1969-12-31 23:59:59.999999997,12,31
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,17.8,0,-1.14,1753.10,4,Up,0,1969-12-31 23:59:59.999999999,12,31
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,10.2,0,-1.77,1749.00,4,Down,0,1969-12-31 23:59:59.999999928,12,31
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,19.9,0,-1.58,1796.20,4,Down,0,1969-12-31 23:59:59.999999928,12,31
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,5.2,0,-0.79,2021.48,4,Up,0,1969-12-31 23:59:59.999999996,12,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,21.8,0,NaN,2652.20,5,Middle,0,1969-12-31 23:59:59.999999999,12,31
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,5.0,0,NaN,1795.80,4,Down,0,1969-12-31 23:59:59.999999997,12,31
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,17.4,1,NaN,2624.40,4,Down,0,1969-12-31 23:59:59.999999998,12,31
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,17.7,0,NaN,1972.50,5,Down,0,1969-12-31 23:59:59.999999997,12,31
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,27.8,0,NaN,1574.40,5,Middle,0,1969-12-31 23:59:59.999999999,12,31