In [7]:
import pandas as pd

In [12]:
df_BND = pd.read_csv("./NSC2_BND.csv")
df_BND.head(3)

   RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0   294364   1921LE    200707.0  T08-T14  W00-W19
1   646257   1921LE    200805.0  A15-A19      NaN
2   733575   1921LE    201309.0      G30      NaN

In [2]:
import pymongo as mg

In [3]:
mg.__version__

'3.12.0'

In [4]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [9]:
database = client['study_test']
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test')

In [10]:
collection = database['collect_tests']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test'), 'collect_tests')

In [14]:
data_list = df_BND.to_dict(orient="records")

In [24]:
type(data_list)
len(data_list)

1000

In [20]:
collection.insert_many(data_list)