In [2]:
import pandas as pd
import pymongo as mg

In [3]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [4]:
database = client['db_medicals']
collection = database['db_medicals']

In [5]:
cursor = collection.find({})
data_list = list(cursor)

In [6]:
df_MED = pd.DataFrame(data_list)
df_MED.head(3)

,_id,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,64d338a84dc9585317b8d837,0,1PT,22.8,3,51.0,0.0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.5,4,Down,0
1,64d338a84dc9585317b8d838,1,2PT,44.9,4,26.0,0.0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.1,4,Up,0
2,64d338a84dc9585317b8d839,2,3PT,53.0,3,NaN,0.0,0,0,1,...,0,67.5,27.3,10.2,0,-1.77,1749.0,4,Down,0

In [7]:
df_MED.columns

Index(['_id', 'Unnamed: 0', '환자ID', 'Large Lymphocyte',
       'Location of herniation', 'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수',
       '당뇨여부', '말초동맥질환여부', '빈혈여부', '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환',
       '암발병여부', '연령', '우울증여부', '입원기간', '입원일자', '종양진행여부', '직업', '체중', '퇴원일자',
       '헤모글로빈수치', '혈전합병증여부', '환자통증정도', '흡연여부', '통증기간(월)', '수술기법', '수술시간',
       '수술실패여부', '수술일자', '재발여부', '혈액형', '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도',
       'Instability', 'MF + ES', 'Modic change', 'PI', 'PT', 'Seg Angle(raw)',
       'Vaccum disc', '골밀도', '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

In [8]:
### 흡연 여부에 따라 통증기간(월) 차이 분석(x:흡연여부 , y: 통증기간(월))

In [9]:
df_MED_drop = df_MED[['환자ID', '통증기간(월)', '흡연여부']]

In [10]:
df_MED_drop

        환자ID  통증기간(월)  흡연여부
0        1PT      1.0     0
1        2PT      1.0     0
2        3PT      1.0     0
3        4PT      2.0     0
4        5PT      1.0     0
...      ...      ...   ...
1889  1890PT     12.0     0
1890  1891PT      6.0     0
1891  1892PT      1.0     0
1892  1893PT     24.0     0
1893  1894PT      6.0     0

[1894 rows x 3 columns]

In [11]:
df_MED_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   환자ID     1894 non-null   object
 1   통증기간(월)  1890 non-null   float64
 2   흡연여부     1894 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 44.5+ KB

In [12]:
df_MED_drop.describe()

           통증기간(월)         흡연여부
count  1890.000000  1894.000000
mean      5.879841     0.217001
std      17.241970     0.412312
min       0.000000     0.000000
25%       1.000000     0.000000
50%       2.000000     0.000000
75%       4.000000     0.000000
max     360.000000     1.000000

In [13]:
df_MED_drop['흡연여부'].value_counts()

0    1483
1     411
Name: 흡연여부, dtype: int64

In [15]:
df_MED_drop['통증기간(월)'].value_counts()

1.00      805
2.00      363
3.00      167
12.00      93
6.00       91
4.00       53
5.00       51
24.00      41
10.00      25
7.00       23
36.00      21
8.00       20
9.00       20
1.50       19
60.00      10
120.00      9
18.00       8
0.50        7
48.00       7
0.25        6
0.20        5
96.00       5
14.00       4
16.00       2
0.30        2
30.00       2
240.00      2
13.00       2
15.00       2
17.00       2
0.10        2
0.80        2
22.00       2
21.00       2
0.75        2
84.00       2
108.00      1
63.00       1
32.00       1
4.50        1
180.00      1
46.00       1
0.00        1
2.50        1
3.50        1
11.00       1
360.00      1
Name: 통증기간(월), dtype: int64